/* CSS Document */
@font-face {
  font-family: 'NanumSquare';
  font-weight: 300;
  src: url(../fonts/NanumSquareL.eot);
  src: url(../fonts/NanumSquareL.eot?#iefix) format('embedded-opentype'),
  url(../fonts/NanumSquareL.woff) format('woff'),
  url(../fonts/NanumSquareL.ttf) format('truetype');
}
@font-face {
  font-family: 'NanumSquare';
  font-weight: 400;
  src: url(../fonts/NanumSquareR.eot);
  src: url(../fonts/NanumSquareR.eot?#iefix) format('embedded-opentype'),
  url(../fonts/NanumSquareR.woff) format('woff'),
  url(../fonts/NanumSquareR.ttf) format('truetype');
}
@font-face {
  font-family: 'NanumSquare';
  font-weight: 700;
  src: url(../fonts/NanumSquareB.eot);
  src: url(../fonts/NanumSquareB.eot?#iefix) format('embedded-opentype'),
  url(../fonts/NanumSquareB.woff) format('woff'),
  url(../fonts/NanumSquareB.ttf) format('truetype');
}
@font-face {
  font-family: 'NanumSquare';
  font-weight: 800;
  src: url(../fonts/NanumSquareEB.eot);
  src: url(../fonts/NanumSquareEB.eot?#iefix) format('embedded-opentype'),
  url(../fonts/NanumSquareEB.woff) format('woff'),
  url(../fonts/NanumSquareEB.ttf) format('truetype');
}
@font-face {
  font-family: 'AvenirLTStd';
  font-weight: 700;
  src: url(../fonts/AvenirLTStd-Black.eot);
  src: url(../fonts/AvenirLTStd-Black.eot?#iefix) format('embedded-opentype'),
  url(../fonts/AvenirLTStd-Black.woff) format('woff'),
  url(../fonts/AvenirLTStd-Black.ttf) format('truetype');
}

/* reset */
html, body, div, span, object, iframe, p, blockquote, pre, a, abbr,
address, big, cite, code, del, dfn, em, font, img, ins,
q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0;}
body {
  background-color:#fff; 
  -webkit-text-size-adjust:none;
  position: relative;
}
body, input, button, textarea {font-size:13px; line-height:13px; font-family:'NanumSquare', Helvetica, Apple-Gothic, Droid Sans, sans-serif,Dotum, Tahoma, 'Malgun Gothic'; color:#222;}
h1, h2, h3, h4, h5, h6 {font-size:13px; text-align:left;}
img, fieldset, iframe {border:0 none;}
table{border-spacing: 0; line-height:150%; table-layout:fixed; border-spacing:inherit;}
div {border-collapse: collapse;  border-spacing: 0;}
select, textarea {border:1px solid #B7B6B6; background:#FFFFFF; color:#333; font-size:12px; vertical-align:middle;}
textarea {overflow:auto;}
select, input, img, li {vertical-align:middle; text-align:left;}
address, caption, cite, code, dfn, em, var {font-style:normal; font-weight:normal;}
ul, li, ol {list-style: none outside none;}
legend, caption {display:none;}
form {margin:0;padding:0;border:none;}
fieldset {margin:0;padding:0;border:none;}
caption {position:absolute;top:0;left:-1000em;width:0;height:0;line-height:0;}
legend {position:absolute;top:0;left:-1000em;width:0;height:0;line-height:0;}
hr {border-collapse:collapse; display:none;}
* {
  margin:0; 
  padding:0; 
  -webkit-text-size-adjust:none; 
  box-sizing:border-box; 
  word-break:break-all; 
  font-family:'NanumSquare', Helvetica, Apple-Gothic, Droid Sans, sans-serif,Dotum, Tahoma, 'Malgun Gothic';
  color: #222;
}      
a{color:#333;}
a:link, a:visited {text-decoration:none;}
a:hover {text-decoration:none; cursor:pointer;}
a, textarea{-webkit-tap-highlight-color:transparent;}
a, textarea{-webkit-tap-highlight-color:transparent;}
input{border-radius:0; box-sizing:border-box}
input, textarea { vertical-align:middle; -webkit-appearance:none; outline:none;}

.wrap{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.inner{
  width: 1040px;
  margin: 0 auto;
}
.inner:after{
  content: '';
  clear: both;
  display: block;
}

/* Header Start */
header{
  background-color: #031c3b;
  height: 95px;
  position: relative;
  z-index: 1;
}
header:after{
  content: '';
  background-image: url(../img/common/header.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100%;
  max-width: 1920px;
  height: 95px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
header>.inner{
  z-index: 3;
  display: flex;
  height: 95px;
  align-items: center;
  width: 1190px;
}
header>.inner>h1{
  z-index: 4;
  display: flex;
  align-items: center;
  width: 305px;
  margin-right: 30px;
}
header>.inner>h1:after{
  content: '';
  background-color: #354962;
  width: 1px;
  height: 45px;
  margin-left: auto;
}
header>.inner>h1>a{
  display: inline-block;
  font-size: 0;
  background-image: url(../img/common/logo.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 275px;
  height: 60px;
  z-index: 5;
  margin-right: auto;
}
header>.inner>a{
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #fff;
  z-index: 4;
  display: flex;
  align-items: center;
}
header>.inner>a:after{
  content: '';
  display: inline-block;
  background-image: url(../img/common/icon-header-link.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 5px;
  height: 8px;
  margin-left: 10px;
}
/* Header End */

/* Nav Start */
nav{
  height: 74px;
  background-color: #052f63;
  position: relative;
  z-index: 2;
}
nav>ul{
  display: flex;
  height: 74px;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
nav>ul>li{
  margin-left: 73px;
  z-index: 4;
  height: 40px;
  display: flex;
  align-items: center;
}
nav>ul>li:first-child{
  margin-left: 0;
}
nav>ul>li>a{
  color: #fff;
  font-size: 18px;
  font-weight: 800;
  position: relative;
  z-index: 5;
}
nav>ul>li>a.active{
  color: #1fa1f5;
}
nav>ul>li>a.active:after{
  content: '';
  width: 100%;
  height: 3px;
  background-color: #1fa1f5;
  position: absolute;
  left: 0;
  bottom: -5px;
}
nav>ul>li>div{
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 127px;
  padding-top: 8px;
  background-color: #052f63;
  z-index: 5;
  display: none;
}

nav>ul>li:nth-child(2)>div>ol{
  padding-left: 151.83px;
}
nav>ul>li>div>ol{
  z-index: 6;
}
nav>ul>li>div>ol>li{
  z-index: 7;
}
nav>ul>li>div>ol>li>a{
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  z-index: 8;
  transform: skew(-0.03deg);
  display: inline-block;
}
nav>ul>li>div>ol>li>a.active,
nav>ul>li>div>ol>li>a:hover{
  color: #1fa1f5;
}
/* Nav End */

/* Footer Start */
footer{
  position: relative;
  background-color: #f6f6f6;
  height: 613px;
  margin-top: auto;
  z-index: 1;
}
footer>ol{
  height: 235px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/common/footer-sea.png);
  background-position: 50% 50%;
  z-index: 2;
}
footer>ol:after{
  content: '';
  background-image: url(../img/common/footer-mountain.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100%;
  max-width: 1920px;
  height: 332px;
  position: absolute;
  top: -95px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}
footer>ol>li{
  position: relative;
  width: 266.66px;
  height: 54px;
  padding: 5px 0 5px 25px;
  border-right: 1px solid #509ccd;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(-20px);
}
footer>ol>li:after{
  content: '';
  background-image: url(../img/common/icon-footer-arrow.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 5px;
  height: 8px;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
}
footer>ol>li:first-child{
  border-left: 1px solid #509ccd;
}
footer>ol>li>a{
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  z-index: 5;
}
footer>.logo{
  content: 'GEBCO-SCOPE';
  font-size: 0;
  width: 100vw;
  height: 23px;
  background-image: url(../img/common/footer-logo.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 50px 0;
}
footer>ul{
  display: flex;
  align-items: center;
  justify-content: center;
}
footer>ul>li{
  margin-left: 55px;
}
footer>ul>li:first-child{
  margin-left: 0;
}
footer>ul>li>a{
  display: block;
}
footer>address{
  text-align: center;
  margin-top: 35px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  transform: skew(-0.03deg);
}
footer>dl{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
footer>dl>*{
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  transform: skew(-0.03deg);
}
footer>dl>dt{
  margin-right: 3px;
}
footer>dl>dd{
  margin-right: 20px;
}
footer>dl>dd:last-child{
  margin-right: 0;
}
footer>.copyright{
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
  color: #888;
  font-weight: 400;
  transform: skew(-0.03deg);
  line-height: 1.4;
}
/* Footer End */

/* Popup Start */
.dim-mask{
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: 2;
}
.popup{
  width: 100%;
  min-width: 800px;
  max-width: 950px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  z-index: 3;
  padding: 50px;
  display: none;
}
.popup.active{
  display: block;
  animation-name: popup;
  animation-duration: 0.5s;
}
@keyframes popup {
  0% {
    transform: scaleX(0) scaleY(0.005);
  }
  50% {
    transform: scaleX(1) scaleY(0.005);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}
.popup-gebco{
  width: 800px;
  bottom: 270px;
}
.popup-tor{
  top: 0;
}
.popup>h1{
  text-align: center;
  border-bottom: 3px solid #000;
  padding-bottom: 55px;
  padding-top: 5px;
  margin-bottom: 50px;
  font-weight: 800;
  font-size: 30px;
}
.popup>button{
  width: 24px;
  height: 24px;
  font-size: 0;
  border: 0;
  background-image: url(../img/common/popup-closed.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: transparent;
  position: absolute;
  top: 48px;
  right: 50px;
  cursor: pointer;
  outline: none;
}
.popup>section>article{
  margin-bottom: 60px;
  font-size: 16px;
  line-height: 26px;
  color: #555;
  transform: skew(-0.03deg);
  text-align: justify;
}
.popup>section>article:last-child{
  margin-bottom: 0;
}
.popup>section>article a{
  color: #1fa1f5;
  font-size: 16px;
}
.popup>section>article>p>strong{
  font-size: 20px;
  line-height: 26px;
  color: #555;
  font-weight: 800;
}
.popup>section>div{
  text-align: center;
}
.popup>section>div>p{
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #1fa1f5;
  margin-bottom: 50px;
}
.popup>section>div>p>strong{
  color: #1fa1f5;
  font-weight: 800;
  font-size: 30px;
  line-height: 36px;
}
.popup>section>div>p:last-child{
  margin-bottom: 70px;
}
.popup>section>h2{
  margin-bottom: 25px;
  font-size: 30px;
  
  font-weight: 800;
}
.popup>section>h3{
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 800;
}
.popup>section>ol{
  margin-bottom: 50px;
}
.popup>section>ol:last-child{
  margin-bottom: 0;
}
.popup>section>ol li{
  line-height: 26px;
  margin-bottom: 20px;
  padding-left: 55px;
  position: relative;
}
.popup>section>ol li:last-child{
  margin-bottom: 0;
}
.popup>section>ol li>em{
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  color: #555;
  position: absolute;
  top: 0;
  left: 0;
}
.popup>section>ol li>span{
  font-size: 16px;
  color: #555;
  font-weight: 300;
}
.popup>section>ol>li>ol{
  margin-top: 20px;
}
/* Popup End */

#container{
  position: relative;
  z-index: 1;
  min-height: 500px;
}
#container:before{
  content: '';
  width: 940px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  top: 50px;
  left: 50%;
}
#container.link:before,
#container.sitemap:before{
  background-image: url(../img/common/container-sitemap.jpg);
}
#container.aboutus:before{
  background-image: url(../img/common/container-aboutus.png);
}
#container.education:before{
  background-image: url(../img/common/container-education.png);
}
#container.governments:before{
  background-image: url(../img/common/container-governments.png);
}
#container.localsurvey:before{
  background-image: url(../img/common/container-localsurvey.png);
}
#container.industry:before{
  background-image: url(../img/common/container-industry.png);
}
#container.opinion:before{
  background-image: url(../img/common/container-opinion.png);
}

#container>.tit{
  width: 1040px;
  height: 300px;
  margin: 0 auto;
  padding: 65px 0 40px 0;
  border-bottom: 3px solid #222;
  display: flex;
  flex-direction: column;
}
#container>.tit>h2{
  font-weight: 800;
  font-size: 65px;
  line-height: 70px;
  margin-top: auto;
}
#container>.tit>ul{
  display: flex;
}
#container>.tit>ul>li{
  font-weight: 400;
  font-size: 14px;
  color: #888;
  transform: skew(-0.03deg);
  margin-left: 10px;
}
#container>.tit>ul>li:before{
  content: '';
  width: 4px;
  height: 7px;
  background-image: url(../img/common/icon-titul.png);
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 10px;
}
#container>.tit>ul>li:first-child{
  margin-left: 0;
}
#container>.tit>ul>li:first-child:before{
  display: none;
}
#container>.tit>ul>li>strong{
  font-weight: 800;
}
#container>.content{
  width: 1040px;
  margin: 100px auto;
}
#container>.content>h3{
  font-weight: 800;
  font-size: 42px;
  line-height: 42px;
  color: #1fa1f5;
  margin-bottom: 80px;
}
#container>.content>h4{
  font-weight: 800;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 30px;
  position: relative;
  padding-left: 40px;
}
#container>.content>h4:before{
  content: '';
  width: 18px;
  height: 3px;
  background-color: #1fa1f5;
  position: absolute;
  top: 0;
  left: 0;
}
#container>.content>h4+article{
  margin-left: 40px;
}
#container>.content h5{
  font-weight: 800;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 20px;
  color: #555;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
#container .language-download{
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-items: center;
}
#container .language-download:after{
  content: '';
  clear: both;
  display: block;
}
#container .language-download>div{
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#container .language-download>div>h6{
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  color: #555;
  transform: skew(-0.03deg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
#container .language-download>div>h6:before{
  content: '';
  width: 19px;
  height: 24px;
  background-image: url(../img/common/icon-download.png);
  background-repeat: no-repeat;
  margin-bottom: 10px;
}
#container .language-download>div>h6:after{
  content: '';
  width: 1px;
  height: 30px;
  background-color: #bbb;
  margin: 30px 0;
}
#container .language-download .division{
  display: block;
  width: 250px;
  text-align: center;
}
#container .language-download .division a{
  width: 80px;
  text-align: center;
  margin-top: 25px;
  display: inline-block;
  font-size: 0;
}
#container .language-download .division a>span{
  display: block;
  font-size: 14px;
  line-height: 26px;
  font-style: italic;
  text-align: center;
}
#container .language-download .division a:nth-child(3n){
  margin-right: 0;
}
#container .language-download .division a:nth-child(-n+3){
  margin-top: 0;
}
#container .language-download>div>ul:after{
  content: '';
  clear: both;
  display: block;
}
#container .language-download>div>ul>li{
  width: 144px;
  float: left;
}
#container .language-download>div>ul>li:last-child{
  margin-left: 30px;
}
#container .language-download>div>ul>li>strong{
  display: block;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  transform: skew(-0.03deg);
}
#container .language-download>div>ul>li>.division{
  width: 100%;
}
#container .language-download>div>ul>li>.division>a{
  
  width: 70px;
}
#container .btn-box{
  height: 45px;
  line-height: 47px;
  background-color: #222;
  color: #fff;
  border-radius: 2px;
  font-weight: 400;
  font-size: 14px;
  transform: skew(-0.03deg);
  padding: 0 55px 0 20px;
  overflow: hidden;
  position: relative;
  display: inline-block;
}
#container .btn-box:after{
  content: '';
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
#container .btn-link:after{
  background-image: url(../img/common/btn-link.png);
  width: 17px;
  height: 17px;
}
#container .btn-down:after{
  background-image: url(../img/common/btn-down.png);
  width: 16px;
  height: 26px;
}
#container .btn-big{
  width: 330px;
  height: 65px;
  line-height: 65px;
  padding: 0;
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  color: #1fa1f5;
  left: 50%;
  transform: translateX(-50%);
  border: 0;
  cursor: pointer;
  margin-top: 0 !important;
}
#container .summary{
  position: relative;
  padding-left: 40px;
  margin-bottom: 100px;
}
#container .summary:before{
  content: '';
  width: 18px;
  height: 3px;
  background-color: #1fa1f5;
  position: absolute;
  top: 5px;
  left: 0;
}
#container .summary>p{
  font-size: 16px;
  color: #555;
  line-height: 26px;
  transform: skew(-0.03deg);
}
#container .summary>p>a{
  font-weight: 800;
  color: #1fa1f5;
  font-style: italic;
  text-decoration: underline;
}
#container .summary>a{
  margin-top: 30px;
}
#container .summary>h4{
  font-weight: 800;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 20px;
  margin-top: 60px;
  color: #555;
}
#container .img{
  margin-bottom: 100px;
}
#container big{
  font-weight: 800;
  font-size: 30px;
  line-height: 35px;
  width: 1040px;
  margin: 0 auto 85px auto;
  display: block;
}
#container .tab{
  margin: 50px auto 0 auto;
  width: 1040px;

}
#container .tab:after{
  content: '';
  clear: both;
  display: block;
}
#container .tab>li{
  float: left;
  text-align: center;
  background-color: #eee;
  height: 65px;
  margin-right: 1px;
  margin-bottom: 1px;
}
#container .tab>li>a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  color: #555;

}
#container .tab>li.active>a{
  background-color: #1fa1f5;
  color: #fff;
  font-weight: 800;
}
#container .tabrow3>li{
  width: calc(33.3% - 1px);
}
#container .tabrow3>li:nth-child(3n){
  margin-right: 0;
  width: 33.3%;
}
#container .tabrow4>li{
  width: calc(25% - 1px);
}
#container .tabrow4>li:nth-child(4n){
  margin-right: 0;
  width: 25%;
}

/* main */
#container.main{
  width:100%;
  min-width:1040px;
}
.hide{
  display:block; 
  height: 0; 
  width: 0; 
  font-size: 0; 
  line-height: 0; 
  margin: 0; 
  padding: 0; 
  overflow:hidden; 
  color:transparent;
}
.main .visual{
  width:100%;
  height:655px;
  background:url(../img/main/main_visual.jpg) #031732 center top no-repeat;
}
.main .visual>dl{
  width:1040px;
  margin:0 auto;
}
.main .visual>dl>dt{
  padding-top:70px;
  text-align:center;
  font-family: 'AvenirLTStd';
  font-size:80px;
  font-weight:700;
  line-height:1.5;
  color:#ffffff;
}
.main .visual>dl>dd{
  padding-top:30px;
} 
.main .visual>dl>dd p{
  text-align:center;
  font-size:18px;
  line-height:26px;
  color:#ffffff;
  opacity:0.8;
}
.main .content>.pic_article{
  position:relative;
  height:470px;
}
.main .content>.pic_article:before{
  position:absolute;
  display:block;
  display:block;
  content:'';
  background:#1fa1f5;
}
.main .content>.pic_article:after{
  position:absolute;
  display:block;
  display:block;
  content:'';
  box-shadow:24px 24px 27px rgba(0,0,0,0.2);
}
.main .content>.pic_article>h3{
  padding-top:100px;
  font-size:45px;
  font-weight:800;
  line-height:50px;
  color:#222222;
}
.main .content>.pic_article>p{
  margin-top:20px;
  font-size:18px;
  line-height:28px;
  color:#555555;
}
.main .content>.pic_article>a{
  position:relative;
  display:inline-block;
  width:186px;
  margin-top:45px;
  border:2px solid #1fa1f5;
  text-align:center;
  font-size:14px;
  font-weight:800;
  line-height:36px;
  color:#1fa1f5;
}
.main .content>.pic_article>a:after{
  position:relative;
  display:inline-block;
  content:'+';
  padding-left:10px;
  font-weight:bold;
}
.main .content>.pic_left:before{
  left:0;
  bottom:0px;
  width:230px;
  height:200px;
}
.main .content>.pic_left:after{
  left:40px;
  bottom:40px;
  width:420px;
  height:540px;
  background:url(../img/main/pic_main_contVisual1.jpg) #031732 center top no-repeat;
}
.main .content>.pic_right:before{
  right:0;
  bottom:0;
  width:200px;
  height:230px;
}
.main .content>.pic_right:after{
  right:40px;
  bottom:40px;
  width:540px;
  height:420px;
  background:url(../img/main/pic_main_contVisual2.jpg) #031732 center top no-repeat;
}
.main .content>.pic_left{padding-left:540px;}
.main .content>.pic_right{margin:90px 0 140px 0;}
#container>.content.slide{
  width:100%;
  height:611px;
  background:url(../img/main/bg_main_slide.jpg) center top repeat-x;
}
.slide .slide_head{padding-top:80px;text-align:center;}
.slide .slide_head>ul{display:inline-block;}
.slide .slide_head>ul>li{
  float:left;
  width:150px;
}
.slide .slide_head>ul>li+li{
  margin-left:10px;
}
.slide .slide_head>ul>li>a{
  position:relative;
  display:block;
  text-align:center;
  font-size:18px;
  font-weight:800;
  line-height:50px;
  color:#ffffff;
}
.slide .slide_head>ul>li>a:after{
  position:absolute;
  display:block;
  content:'';
  left:0;
  bottom:0;
  width:100%;
  height:3px;
  background:#ffffff;
  opacity:0.2;
}
.slide .slide_head>ul>li.is_active>a{}
.slide .slide_head>ul>li.is_active>a:after{
  opacity:1;
}
.slide .slide_nav{
  width:100%;
  position:relative;
}
.slide .slide_nav>a{
  position:absolute;
  display:block;
  width:47px;
  height:91px;
  top:148px;
}
.slide .slide_nav>.prev{
  display:none;
  left:0;
  background:url(../img/main/btn_slide_prev.png) center top no-repeat;
}
.slide .slide_nav>.next{
  right:0;
  background:url(../img/main/btn_slide_next.png) center top no-repeat;
}
.slide .slide_body{
  position:relative;
  overflow:hidden;
  width:800px;
  height:300px;
  margin:60px auto 0 auto;
}
.slide .slide_body>ul{
  position:absolute;
}
.slide .slide_body>ul>li{
  float:left;
  position:relative;
  width:800px;
  height:300px;
  padding-left:360px;
  background:#ffffff;
}
.slide .slide_body>ul>li>img{
  position:absolute;
  width:300px;
  height:300px;
  left:0;
  top:0;
}
.slide .slide_body>ul>li>h3{
  margin-top:75px;
  font-size:30px;
  font-weight:800;
  line-height:40px;
  color:#222222;
}
.slide .slide_body>ul>li>p{
  margin-top:15px;
  font-size:16px;
  line-height:26px;
  color:#555555;
  transform: skew(-0.03deg);
}
/* main End */
/* SiteMap Start */
.sitemap>.content:after{
  content: '';
  clear: both;
  display: block;
}
.sitemap>.content>li{
  width: 25%;
  height: 240px;
  float: left;
  padding-left: 25px;
  position: relative;
}
.sitemap>.content>li:before{
  content: '';
  width: 12px;
  height: 3px;
  background-color: #1fa1f5;
  position: absolute;
  top: 0;
  left: 0;
}
.sitemap>.content>li>a,
.sitemap>.content>li>strong{
  font-size: 24px;
  line-height: 24px;
  font-weight: 800;
  display: block;
  vertical-align: top;
}
.sitemap>.content>li>ol{
  margin-top: 20px;
}
.sitemap>.content>li>ol>li>a{
  font-weight: 400;
  font-size: 15px;
  color: #555;
  line-height: 28px;
  transform: skew(-0.03deg);
  display: inline-block;
}
/* SiteMap End */
/* Link Start */
.link>.content:after{
  content: '';
  clear: both;
  display: block;
}
.link>.content>li{
  width: 320px;
  height: 615px;
  float: left;
  margin-right: 40px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
.link>.content>li:nth-child(3n){
  margin-right: 0;
}
.link>.content>li:nth-child(-n+3){
  margin-top: 0;
}
.link>.content>li>h3{
  font-weight: 800;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 25px;
}
.link>.content>li>img{
  margin-bottom: 25px;
}
.link>.content>li>p{
  color: #555;
  font-size: 16px;
  line-height: 26px;
  text-align: justify;
  transform: skew(-0.03deg);
}
.link>.content>li>span{
  margin-top: auto;
  display: flex;
  align-items: center;
}

/* Link End */
/* About Us Start */
.aboutus>.gebcoscope>article{
  margin-bottom: 100px;
}
.aboutus>.gebcoscope>article>p{
  font-size: 16px;
  line-height: 26px;
  color: #555;
  transform: skew(-0.03deg);
  margin-bottom: 15px;
}
.aboutus>.gebcoscope>article>p>a{
  font-weight: 800;
  color: #1fa1f5;
  font-style: italic;
  text-decoration: underline;
}
.aboutus>.gebcoscope>article>h5{
  margin-top: 50px;
}
.aboutus>.gebcoscope>article>ul{
  margin-bottom: 45px;
}
.aboutus>.gebcoscope>article>ul>li{
  font-size: 16px;
  color: #555;
  line-height: 26px;
  transform: skew(-0.03deg);
  display: flex;
  align-items: center;
}
.aboutus>.gebcoscope>article>ul>li:before{
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background-color: #555;
  margin-right: 8px;
}
.aboutus>.gebcoscope>article>ol{
  margin-bottom: 95px;
}
.aboutus>.gebcoscope>article>ol>li{
  font-size: 16px;
  color: #555;
  line-height: 26px;
  transform: skew(-0.03deg);
  position: relative;
  padding-left: 20px;
}
.aboutus>.gebcoscope>article>ol>li>span{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: #555;
}
.aboutus>.historyofgebcoscope{
  width: 100% !important;
}
.aboutus>.historyofgebcoscope>ol{
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column-reverse;
  background-image: url(../img/content/aboutus/history-bg.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.aboutus>.historyofgebcoscope>ol>li{
  width: 100%;
  margin: 0 auto 100px auto;
}
.aboutus>.historyofgebcoscope>ol>li:first-child{
  margin-bottom: 0;
}
.aboutus>.historyofgebcoscope>ol>li>*{
  width: 50%;
  min-height: 130px;
}
.aboutus>.historyofgebcoscope>ol>li>span{
  font-weight: 300;
  font-size: 130px;
  line-height: 130px;
  color: #e2e2e2;
}
.aboutus>.historyofgebcoscope>ol>li>dl>dt{
  font-weight: 800;
  font-size: 35px;
  line-height: 35px;
  color: #1fa1f5;
  margin-bottom: 10px;
}
.aboutus>.historyofgebcoscope>ol>li>dl>dd>strong{
  font-weight: 800;
  color: #222;
  font-size: 18px;
  line-height: 24px;
  display: block;
}
.aboutus>.historyofgebcoscope>ol>li>dl>dd>span{
  display: block;
  font-size: 16px;
  line-height: 22px;
  color: #555;
  transform: skew(-0.03deg);
}
.aboutus>.historyofgebcoscope>ol>li:after{
  content: '';
  clear: both;
  display: block;
}
.aboutus>.historyofgebcoscope>ol>li:nth-child(even){
  transform: translateX(3px);
}
.aboutus>.historyofgebcoscope>ol>li:nth-child(even)>span{
  float: left;
  text-align: right;
}
.aboutus>.historyofgebcoscope>ol>li:nth-child(even)>span:after{
  content: '';
  width: 0;
  height: 130px;
  border-left: 3px solid #1fa1f5;
  margin-left: 35px;
}
.aboutus>.historyofgebcoscope>ol>li:nth-child(even)>dl{
  float: right;
  padding-left: 35px;
}
.aboutus>.historyofgebcoscope>ol>li:nth-child(odd)>span{
  float: right;
}
.aboutus>.historyofgebcoscope>ol>li:nth-child(odd)>span:before{
  content: '';
  width: 0;
  height: 130px;
  border-left: 3px solid #1fa1f5;
  margin-right: 35px;
}

.aboutus>.historyofgebcoscope>ol>li:nth-child(odd)>dl{
  float: left;
  text-align: right;
  padding-right: 35px;
}
.aboutus>.members>ol:after{
  content: '';
  clear: both;
  display: block;
}
.aboutus>.members>ol>li{
  width: 320px;
  margin-right: 40px;
  margin-top: 50px;
  float: left;
}
.aboutus>.members>ol>li:nth-child(3n){
  margin-right: 0;
}
.aboutus>.members>ol>li:nth-child(-n+3){
  margin-top: 0;
}
.aboutus>.members>ol>li>p{
  height: 150px;
  padding-top: 40px;
  text-align: center;
  background-color: #031c3b;
}
.aboutus>.members>ol>li>p>strong{
  color: #fff;
  font-size: 28px;
  line-height: 28px;
  font-weight: 800;
  display: block;
  margin-bottom: 15px;
}
.aboutus>.members>ol>li>p>span{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
}
.aboutus>.members>ol>li>p>span>em{
  color: #1fa1f5;
  font-size: 16px;
  line-height: 18px;
  transform: skew(-0.03deg);
}
.aboutus>.members>ol>li>div{
  background-color: #f6f6f6;
  height: 180px;
  border-bottom: 1px solid #e2e2e2;
  padding: 30px;
  transform: skew(-0.03deg);
}
.aboutus>.members>ol>li>div>strong{
  display: block;
  font-weight: 800;
  font-size: 14px;
  margin-bottom: 5px;
}
.aboutus>.members>ol>li>div>span{
  font-size: 16px;
  line-height: 22px;
  color: #555;
  display: block;
  margin-bottom: 20px;
}
.aboutus>.members>ol>li>div>a{
  font-size: 16px;
  line-height: 22px;
  color: #555;
}

/* About Us End */
/* Education Start */
.education article{
  margin-bottom: 100px;
}
.education article:last-child{
  margin-bottom: 0;
}
.education article>p{
  font-size: 16px;
  line-height: 26px;
  color: #555;
  transform: skew(-0.03deg);
}
.education article>.btn-box{
  margin-top: 30px;
}
.education article>h5{
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 20px;
}
.education>.foreducators>.img{
  margin-bottom: 30px !important;
}
.education article>ol>li{
  font-size: 16px;
  line-height: 26px;
  color: #555;
  transform: skew(-0.03deg);
}
.education>.video-clip{
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}
.education>.video-clip>h4{
  font-weight: 800;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 30px;
}
.education>.video-clip>ul{
  width: 1040px;
  margin: 0 auto;
}
.education>.video-clip>ul:after{
  content: '';
  clear: both;
  display: block;
}
.education>.video-clip>ul>li{
  float: left;
  width: 130px;
  margin-left: 52px;
}
.education>.video-clip>ul>li:first-child{
  margin-left: 0;
}
.education>.video-clip>ul>li>a{
  display: block;
}
.education>.video-clip>ul>li>a>img{
  margin-bottom: 10px;
}
.education>.video-clip>ul>li>a>p{
  font-size: 14px;
  line-height: 20px;
  color: #555;
  transform: skew(-0.03deg);
}
.education .movie>h4{
  margin-top: 50px;
  margin-bottom: 25px;
  color: #222;
  font-size: 30px;
  line-height: 35px;
  font-weight: 800;
}
.education .movie>a{
  color: #1fa1f5;
  font-size: 16px;
  transform: skew(-0.03deg);
  display: inline-block;
}
.education .movie>.info{
  margin-top: 50px;
  border-bottom: 1px solid #555;
  border-top: 1px solid #555;
}
.education .movie>.info>li{
  padding: 50px;  
  border-bottom: 1px solid #e2e2e2;
}
.education .movie>.info>li:last-child{
  border-bottom: 0;
}
.education .movie>.info>li>ul>li{
  font-size: 16px;
  line-height: 26px;
  color: #555;
  transform: skew(-0.03deg);
  margin-bottom: 5px;
  position: relative;
  padding-left: 10px;
}
.education .movie>.info>li>ul>li:before{
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background-color: #555;
  position: absolute;
  top: 12px;
  left: 0;
}
.education .movie>.info>li>ul>li>strong{
  color: #555;
}
.education .movie>.info>li>ul>li:last-child{
  margin-bottom: 0;
}
.education .story{
  border-right: 1px solid #e2e2e2;
  margin-top: 50px;
}
.education .story:after{
  content: '';
  clear: both;
  display: block;
}
.education .story>li{
  float: left;
  width: 25%;
  border-left: 1px solid #e2e2e2;
  padding: 20px 8px;
  height: 260px;
  text-align: center;
}
.education .story>li>h5{
  text-align: center;
  margin-bottom: 11px !important;
}
.education .story>li>h5:after{
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background-color: #555;
  margin-top: 15px;
  display: inline-block;
}
.education .story>li>p{
  font-size: 16px;
  line-height: 26px;
  color: #555;
  transform: skew(-0.03deg);
}
.education div.novel{
  background-color: #676767;
  display: flex;
  align-items: center;
  justify-items: center;
}
.education div.novel>div{
  width: 594px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 75px;
}
.education div.novel>div *{
  color: #fff;
}
.education div.novel>div>h5{
  color: #fff !important;
  font-size: 40px !important;
  line-height: 40px !important;
  width: 100%;
  align-items: normal !important;
}
.education div.novel>div>p{
  font-size: 16px;
  line-height: 26px;
  color: #555;
  transform: skew(-0.03deg);
}
.education div.novel>div>h5:after{
  content: '';
  display: block;
  height: 68px;
  border-left: 1px solid #fff;
  margin-top: 20px;
}
.education ul.novel:after{
  content: '';
  clear: both;
  display: block;
}
.education ul.novel>li{
  float: left;
  width: 455px;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
  margin-top: 50px;
}
.education ul.novel>li:nth-child(even){
  margin-left: 90px;
}
.education ul.novel>li:after{
  content: '';
  width: 100%;
  height: 260px;
  background-color: #f6f6f6;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
}
.education ul.novel>li>img{
  margin-bottom: 30px;
  z-index: 3;
}
.education ul.novel>li>h5{
  z-index: 3;
}
.education ul.novel>li>p{
  font-size: 16px;
  line-height: 26px;
  color: #555;
  transform: skew(-0.03deg);
  z-index: 3;
  text-align: center;
  height: 135px;
}
.education .search{
  position: relative;
  padding-top: 70px;
}
.education .search>h4{
  height: 70px;
  width: 50%;
  position: absolute;
  top: 0;
}
.education .search>h4>a{
  width: 100%;
  height: 70px;
  border: 1px solid #e2e2e2;
  border-bottom: 2px solid #222;
  background-color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #888;
  font-weight: 800;
  cursor: pointer;
}
.education .search>h4.active>a{
  border: 2px solid #222;
  border-bottom: 0;
  color: #222;
  padding-bottom: 3px;
}
.education .search>h4:first-child{
  left: 0;
}
.education .search>h4.default:first-child>a{
  border-right: 0;
  padding-right: 1px;
}
.education .search>h4:nth-child(3){
  right: 0;
}
.education .search>h4.default:nth-child(3)>a{
  border-left: 0;
  padding-left: 1px;
}
.education .search>.type{
  display: none;
  padding: 50px 30px;
}
.education .search>.type.active{
  display: block;
}
.education .search>div{
  text-align: center;
}
.education .search>.type>input[type=text]{
  transform: skew(-0.03deg);
  width: 640px;
  height: 45px;
  line-height: 45px;
  border: 1px solid #bbb;
  padding: 0 20px;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
}
.education .search>ul:after{
  content: '';
  clear: both;
  display: block;
}
.education .search>ul>li{
  float: left;
  width: 20%;
  display: flex;
  flex-direction: column;
}
.education .search>ul>li>label{
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #555;
  transform: skew(-0.03deg);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.education .search>ul>li>label:last-child{
  margin-bottom: 0;
}
.education .search>ul>li>label>input[type=radio]{
  display: none;
}
.education .search>ul>li>label>span{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../img/common/radio-off.png);
  background-repeat: no-repeat;
  margin-right: 10px;
}
.education .search>ul>li>label.checked>span{
  background-image: url(../img/common/radio-on.png);
}
.education .results{
  background-color: #f6f6f6;
  margin-bottom: 100px;
  padding: 50px 0;
}
.education .results>.info{
  width: 1040px;
  margin: 0 auto 50px auto;
}
.education .results>.info:after{
  content: '';
  clear: both;
  display: block;
}
.education .results>.info>*{
  float: left;
}
.education .results>.info>h3{
  font-size: 24px;
  font-weight: 800;
  line-height: 28px;
  color: #222;
  margin-right: 20px;
}
.education .results>.info>h3:after{
  content: '';
  width: 0;
  height: 28px;
  border-right: 1px solid #222;
  margin-left: 20px;
}
.education .results>.info>p{
  font-size: 18px;
  line-height: 28px;
  color: #222;
}
.education .results>.info>p>span{
  color: #1fa1f5;
}
.education .results>ul{
  width: 1040px;
  margin: 0 auto;
}
.education .results>ul:after{
  content: '';
  clear: both;
  display: block;
}
.education .results>ul>li{
  float: left;
  width: calc(50% - 50px);
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}
.education .results>ul>li:after{
  content: '';
  width: 7px;
  height: 12px;
  display: inline-block;
  background-image: url(../img/common/icon-results.png);
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: 10px;
}
.education .results>ul>li:nth-child(even){
  margin-left: 50px;
}
.education .results>ul>li:nth-child(odd){
  margin-right: 50px;
}
.education .results>ul>li>a{
  transform: skew(-0.03deg);
  font-size: 16px;
  line-height: 16px;
  color: #555;
  display: inline-block;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* Education End */
/* Science */
#container.science>.content>h3{
  line-height: 50px;
}
.science>.content>article{
  margin-bottom:100px;
}
.science>.content>article.side_pic1, 
.science>.content>article.side_pic2, 
.science>.content>article.side_pic3, 
.science>.content>article.side_pic4{
  position:relative;
  padding-left: 500px;
}
.science>.content>article.side_pic4{
  min-height:364px;
}
.science>.content>article:before {
  position:absolute;
  left:0px;
  top:0;
  content:'';
  display:block;
}
.science>.content>article.side_pic1:before {
  width:440px;
  height:272px;
  background:url(../img/content/science/science_side_pic1.png) center center no-repeat;
}
.science>.content>article.side_pic2:before {
  width:440px;
  height:288px;
  background:url(../img/content/science/science_side_pic2.png) center center no-repeat;
}
.science>.content>article.side_pic3:before {
  width:440px;
  height:225px;
  background:url(../img/content/science/science_side_pic3.png) center center no-repeat;
}
.science>.content>article.side_pic4:before {
  width:440px;
  height:364px;
  background:url(../img/content/science/science_side_pic4.png) center center no-repeat;
}
.science>.content>article>ul+span>.btn-link{
  margin-top: 30px;
}
.science>.content>article>ul>li{
  font-size: 16px;
  color: #555;
  line-height: 26px;
  transform: skew(-0.03deg);
  display: flex;
  align-items: center;
}
.science>.content>article>ul>li:before{
  content: '';
  width: 4px;
  height: 4px;
  margin-top: 10px;
  border-radius: 4px;
  background-color: #555;
  margin-right: 8px;
  align-self: flex-start;
}
.tbl_wrap{
  margin-bottom:10px;
}
.tbl_wrap>.list_inner{
  width:100%;
  border-top:1px solid #555555;
}
.tbl_wrap>.list_inner>thead>tr>th{
  padding:7px 0 6px 0;
  border-bottom:1px solid #e2e2e2;
  font-size:16px;
  line-height:32px;
  color:#222222;
  font-weight:800;
  background:#f6f6f6;
  transform: skew(-0.03deg);
}
.tbl_wrap>.list_inner>thead>tr>th+th{
  border-left:1px solid #e2e2e2;
}
.tbl_wrap>.list_inner>tbody>tr>td{
  border-bottom:1px solid #555555;
  font-size:16px;
  line-height:41px;
  text-align:center;
  color:#555555;
  font-weight:300;
  transform: skew(-0.03deg);
}
.tbl_wrap>.list_inner>tbody>tr>td+td{
  border-left:1px solid #e2e2e2;
}
.science .middle_wide_link{
  width:100%;
  min-width:1040px;
  height:300px;
  text-align:center;
  background:url(../img/content/science/bg_middle_wide.png) center center no-repeat;
}
.science .middle_wide_link p{
  padding:85px 0 25px 0;
  font-size:22px;
  line-height:30px;
  color:#ffffff;
  font-weight:800;
}
#container .middle_wide_link .btn-box{
  background-color: #ffffff;
  color: #011b50;
}
#container .middle_wide_link .btn-link:after{
  background-image: url(../img/content/science/btn-link_white.png);
}
.science article>p {
  font-size: 16px;
  line-height: 26px;
  color: #555;
  transform: skew(-0.03deg);
  margin-bottom: 15px;
}
/* Science end*/

/* soming soon */
.soon{
  height:480px;
  background:url(../img/common/bg_coming_soon.png) center bottom no-repeat;
}
.soon h3{
  text-align:center;
  font-size:65px;
  line-height:65px;
  color:#e2e2e2;
  font-weight:800;
}
.soon h4{
  margin-top:45px;
  text-align:center;
  font-size:30px;
  color:#222222;
  font-weight:800;
}
.soon p{
  margin-top:20px;
  text-align:center;
  font-size:16px;
  line-height:26px;
  color:#555555;
  font-weight:300;
  transform: skew(-0.03deg);
}
/* soming soon end */